.states {
    fill: #DFDFDF;
    stroke: #fff;
    stroke-width: 1px;
}

.cities {
    fill: steelblue;
    fill-opacity: 0.5;
    stroke: #fff;
    stroke-width: 2px;
}

.hidden {
    display: none;
}

.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.airport-arc {
    pointer-events: none;
    fill: none;
    stroke: #000;
    display: none;
}

.airport:hover .airport-arc {
    stroke: #f00;
}

.airport-cell {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.1;
    pointer-events: all;
}